<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CalendarIconDateSettings</key>
	<dict>
		<key>FontName</key>
		<string>AvenirNext-Bold</string>
		<key>FontSize</key>
		<integer>15</integer>
		<key>ShadowBlurRadius</key>
		<integer>0</integer>
		<key>ShadowColor</key>
		<string>#f5f5f5</string>
		<key>ShadowXoffset</key>
		<real>0.0</real>
		<key>ShadowYoffset</key>
		<real>0.0</real>
		<key>TextColor</key>
		<string>#eb5f6a</string>
		<key>TextXoffset</key>
		<integer>0</integer>
		<key>TextYoffset</key>
		<integer>12</integer>
	</dict>
	<key>CalendarIconDaySettings</key>
	<dict>
		<key>FontSize</key>
		<integer>9</integer>
		<key>ShadowBlurRadius</key>
		<integer>0</integer>
		<key>ShadowColor</key>
		<string>rgba(0,0,0,0.4</string>
		<key>ShadowXoffset</key>
		<integer>0</integer>
		<key>ShadowYoffset</key>
		<integer>0</integer>
		<key>TextCase</key>
		<string>uppercase</string>
		<key>TextColor</key>
		<string>#404040</string>
		<key>TextXoffset</key>
		<integer>0</integer>
		<key>TextYoffset</key>
		<integer>8</integer>
	</dict>
	<key>ColorFilter</key>
	<dict>
		<key>BundleIdentifiers</key>
		<array>
			<string>com.apple.Preferences</string>
		</array>
		<key>policy</key>
		<string>whitelist</string>
	</dict>
	<key>IB-MaskIcons</key>
	<false/>
	<key>PackageName</key>
	<string>主题</string>
</dict>
</plist>
